<%= form_with :model => @place do |form| %>
  <p>
    <%= form.label "Place" %>
    <%= form.text_field "name" %>
  </p>
  <p>
    <%= form.label "Description" %>
    <%= form.text_field "description" %>
    <%= form.label "Posted_on" %>
    <%= form.date_field "posted_on" %>
  </p>
  <%= form.submit %>
<% end %>